<div class="col-md-3 ml-auto">
  <aside class="sidebar">
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">About</h4>
        <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam <a href="#">semper libero</a>, sit amet adipiscing sem neque sed ipsum. </p>
      </div>
    </div><!-- /.card -->
  </aside>

  <aside class="sidebar sidebar-sticky">
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">Tags</h4>
        {% for category in site.categories %}
        <a class="btn btn-light btn-sm mb-1" href="/articles/{{ category | first }}">{{ category | first }}</a>
        {% endfor %}
      </div>
    </div><!-- /.card -->
    <div class="card mb-4">
    {% if paginator.total_pages > 0 %}
      <nav class="ml-4">
        <ul class="pagination">
              <li class="page-item {% if paginator.previous_page==nil %}disabled{% endif %}"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a></li>
            {% for pg in (1..paginator.total_pages) %}
              {% assign link = page.permalink | split:"/" | slice:0,3 | join: "/" %}
              <li class="page-item"><a class="page-link" href="{% if pg==1 %}{{ link }}{% endif %}{% if pg!=1 %}{{ link }}/{{ pg }}/{% endif %}">{{ pg }}</a></li>
            {% endfor %}
                <li class="page-item {% if paginator.next_page==nil %}disabled{% endif %}"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a></li>
        </ul>
      </nav>
    {% endif %}
    </div>
  </aside>
</div>