<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Interesuję się od lat zdrowiem psychofizycznym człowieka. Interesują mnie relacje rodzic - dziecko i wpływ tych relacji na relacje w życiu dorosłym człowieka. To co robię nie jest nagonką na kobiety ale przedstawianiem drugiej prawdy o kobietach, bo bez tej prawdy niemożliwym jest przerwanie błędnego koła przemocy.">
		<meta name="keywords" content="Przemoc, przemoc, kobiety, mężczyźni, dzieci">
		<meta name="author" content="Sabina Gatti">

		<link rel="apple-touch-icon" sizes="180x180" href="./assets/img/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="192x192" href="./assets/img/favicons/android-chrome-192x192.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicons/favicon-16x16.png">
		<link rel="manifest" href="./assets/manifest.json">
		<link rel="mask-icon" href="./assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="./favicon.ico">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="./assets/img/favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="./assets/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">

		<meta property="og:image" content="https://sabina.gatti.pl/assets/img/og/og-image.jpg">
		<meta property="og:title" content="Sabina Gatti">
		<meta property="og:image:width" content="835">
		<meta property="og:image:height" content="437">
		<meta property="og:description" content="Przemoc nie ma płci.">
		<meta property="og:url" content="https://sabina.gatti.pl">
		<meta property="og:type" content="website">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:creator" content="@sabinagatti">
		<meta name="twitter:title" content="Sabina Gatti - Przemoc nie ma płci.">
		<meta name="twitter:description" content="Przemoc nie ma płci.">
		<meta name="twitter:image" content="https://sabina.gatti.pl/assets/img/og/og-image.jpg">

		<title>Sabina Gatti - Przemoc nie ma płci.</title>

		<link rel="stylesheet" href="./assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="./assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="./assets/css/simpletextrotator.css">
		<link rel="stylesheet" href="./assets/css/flexslider.css">
		<link rel="stylesheet" href="./assets/css/style.css">
		<link rel="stylesheet" href="./assets/css/animate.css">

	</head>
	<body>

<!-- 	==========================
			HEADER SECTION
		=========================== -->

		<header id="home">

			<section class="hero" id="hero">
				<div class="container">

					<div class="row">
						<div class="col-md-12 text-right navicon">
							<a id="nav-toggle" class="nav_slide_button" href="index.html#"><span></span></a>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8 col-md-offset-1 inner">
							<h1 class="animated fadeInDown">
								S<span style="color:#E04343;">a</span>bina<br/>
								<span>G<span style="color:#FFE800">a</span>tti</span>
							</h1><!-- Title -->
							<h3 class="animated fadeInUp delay-05s"><span class="rotate">Przemoc nie ma Płci</span></h3>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<a href="index.html#about" class="scrollto wow fadeInUp delay-5s ">
								<p>PRZEWIŃ</p>
								<p class="scrollto--arrow"><img src="./assets/img/scroll-down.png" alt="scroll down arrow"></p>
							</a>
						</div>
					</div>
				</div>
			</section>

		</header>

		{{>body}}

<!-- 	==========================
			FOOTER SECTION
		=========================== -->

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<p>All Rights Reserved. &copy; Sabina Gatti
					</div>
				</div>
			</div>
		</footer>


<!-- 	==========================
			JavaScript
		=========================== -->

		<script src="./assets/js/jquery.min.js"></script>
		<script src="./assets/js/bootstrap.min.js"></script>
		<script src="./assets/js/waypoints.min.js"></script>
		<script src="./assets/js/classie.js"></script>
		<script src="./assets/js/jquery.flexslider.js"></script>
		<script src="./assets/js/modernizr.js"></script>
		<script src="./assets/js/jquery.simple-text-rotator.js"></script>
		<script src="./assets/js/script.js"></script>
		<script src="./assets/js/email.js"></script>

<!-- 	==========================
			Text rotating settings
		=========================== -->

		<script>

			$(".rotate").textrotator({
				animation: "fade", 	// You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
				separator: ",", 	// If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
				speed: 2000 		// How many milliseconds until the next word show.
			});

			//
			//	Save email to newsletter.
			//
			$("#news_letter").submit(function(event) {

				//
				//	1.	Let the user know the email is being saved
				//
				$('#submit').val('Saving...');

				//
				//	2. Prevent the browser from taking the default action
				//
				event.preventDefault();

				//
				//	3.	Save the DOM focused data
				//
				let $form = $(this);

				//
				//	4.	Get the email from the form
				//
				let email = $('#email').val();

				//
				//	5.	URL to use
				//
				let url = '{{newsletter_endpoint}}/subscribe';

				//
				//	6.	Data to send
				//
				let data = JSON.stringify({
					email: email
				});

				//
				//	7.	Make the request
				//
				$.ajax({
					url: url,
					type: 'POST',
					contentType: "application/json",
					data: data
				})
				.done(function(data) {

					//
					//	1.	Let the user know that the email was saved
					//
					$('#submit').val('Saved');

					//
					//	2.	Disable the button to show that the action
					//		was completed.
					//
					$('#submit').prop('disabled', true)

				})
				.fail(function(xhr, status, error) {

					//
					//	1.	Reset the button
					//
					$('#submit').val('Submit');

					//
					//	2.	Mark the input as invalid
					//
					$('#email').addClass('is-invalid')

				});

			});

		</script>

	</body>
</html>