<!--	==========================
	ABOUT SECTION
===========================	-->

<section class="intro text-center section-padding color-bg" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 wp1">

				<h1 class="arrow">Więcej <span>o</span> mnie</h1>

				<p>Interesuję się od lat zdrowiem psychofizycznym człowieka. Interesują mnie relacje rodzic - dziecko i wpływ tych relacji na relacje w życiu dorosłym człowieka. To co robię nie jest nagonką na kobiety ale przedstawianiem drugiej prawdy o kobietach, bo bez tej prawdy niemożliwym jest przerwanie błędnego koła przemocy.</p>

				<p>Moim celem jest obalenie stereotypów o kobietach i mężczyznach i w ten sposób podniesienie świadomości w społeczeństwie w temacie przemocy.</p>

			</div>
		</div>
	</div>
</section>

<!--	==========================
	Feature SECTION
===========================	-->

<section class="features text-center section-padding" id="service">

	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h1 class="arrow">To Są Tematy Które Mnie Interesują I Uważam Za Ważne</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="services">

					<div class="col-md-4 wp2 item">

						<div class="icon">
							<i class="fa fa-bullhorn"></i>
						</div>

						<h2>Przemoc Kobiet Wobec Dzieci i Mężczyzn</h2>

						<p>Z badań wynika, że matki stosują przemoc wobec dzieci częściej od ojców. Dzieci doznają przemocy również od babć, ciotek, opiekunek w żłobkach, przedszkolach, szkołach i domach dziecka.</p>

						<p><a target="_blank" href="https://www.facebook.com/Wirtualna-Kampania-przeciwko-przemocy-kobiet-wobec-mężczyzn-i-dzieci-915462111968388/">Clickni po więcej</a></p>

					</div>

					<div class="col-md-4 wp2 item delay-05s">

						<div class="icon">
							<i class="fa fa-child"></i>
						</div>

						<h2>Przemoc Seksualna Kobiet Wobec Dzieci I Mężczyzn</h2>

						<p>Kobiety są sprawczyniami przemocy w takim samym stopniu jak mężczyźni. Jeżeli brak im siły fizycznej do wymierzenia ciosu, sięgają po nóż, wazon kryształowy lub inne narzędzie.</p>

						<p><a target="_blank" href="https://www.facebook.com/gwaltofiaramezczyzna/">Clickni po więcej</a></p>

					</div>

					<div class="col-md-4 wp2 item delay-1s">

						<div class="icon">
							<i class="fa fa-heartbeat"></i>
						</div>

						<h2>Traumy z Dzieciństwie A Choroby</h2>

						<p>To temat tabu i wzbudzający śmiech nawet wśród mężczyzn. Ofiarami gwałtów i wykorzystywania seksualnego są również mężczyźni i czas zacząć o tym głośno mówić.</p>

						<p><a target="_blank" href="https://www.facebook.com/Trauma-z-dzieciństwa-choroby-w-dorosłym-życiu-Sabina-Gatti-757241914403491/">Clickni po więcej</a></p>

					</div>

				</div>

				<div class="clearfix"></div>

			</div>
		</div>

	</div>

</section>

<!--	==========================
	Books SECTION
===========================	-->

<div class="container-fluid">

	<div class="row color-bg">
		<div class="col-md-6 nopadding features-intro-img">
			<div class="about-image" style="background-image:url(./assets/img/books/book3.jpg)"></div><!-- about image 1 -->
		</div>
		<div class="col-md-6 about-text">

			<h6>50 Sfumature di violenza</h6>

			<p>Pacjenci Susan Froward to ludzie, skatowani przez wlasnych rodziców. Fizycznie badz psychicznie. Krytykowani, dreczeni okrutnymi zartami, przygniatani wina, napastowani seksualnie, czy... rozpaczliwie ochraniani. Niewielu z nich przed podjeciem terapii zdawalo sobie sprawe z tego, ze zostali zniszczeni destrukcyjnym wplywem "toksycznych" rodziców, umiejetnie zaszczepiajacych w dziecku wieczna traume, poczucie zniewazenia i ponizenia.</p>

			<br>

			<a target="_blank" href="https://www.amazon.de/Toksyczni-rodzice-Craig-Buck/dp/8375542369" class="weight-outline-btn">Kup książkę</a>

		</div>
	</div>

	<div class="row">
		<div class="col-md-6 about-text">

			<h6>Matki, które nie potrafią kochać. Uzdrawiający poradnik dla córek</h6>

			<p>W swojej bestsellerowej książce Susan Forward omawia szkody czynione przez niekochające matki w psychice córek i podsuwa tym ostatnim skuteczne sposoby przezwyciężania bolesnego dziedzictwa. Przez 35 lat praktyki terapeutycznej autorka pomogła wielu kobietom uporać się z emocjonalnym bagażem pozostałym po wychowaniu przez inne kobiety, o pokolenie starsze.</p>

			<br>

			<a target="_blank" href="http://lubimyczytac.pl/ksiazka/228313/matki-ktore-nie-potrafia-kochac-uzdrawiajacy-poradnik-dla-corek" class="weight-outline-btn">Kup książkę</a>	<!-- read more button  -->

		</div>
		<div class="col-md-6 nopadding features-intro-img">
			<div class="about-image" style="background-image:url(./assets/img/books/book2.jpg)"></div><!-- about image 2 -->
		</div>
	</div>

	<div class="row color-bg">
		<div class="col-md-6 nopadding features-intro-img">
			<div class="about-image" style="background-image:url(./assets/img/books/book1.jpg)"></div><!-- about image 1 -->
		</div>
		<div class="col-md-6 about-text">

			<h6>Bunt ciała</h6>

			<p>Najnowsza książka Alice Miller po raz kolejny burzy społeczne stereotypy dotyczące powiązań między metodami wychowawczymi w dzieciństwie a późniejszym losem krzywdzonych dzieci. Analizując biografie znakomitych artystów i przypadki własnych klientów, dostrzega, jak destrukcyjną więzią jest związek dziecka, a później dorosłego człowieka z rodzicami, którzy maltretowali go w dzieciństwie. </p>

			<br>

			<a target="_blank" href="https://mediarodzina.pl/prod/63/Bunt-ciala" class="weight-outline-btn">Kup książkę</a>

		</div>
	</div>

</div>

<!-- 	==========================
	Blog Section
=========================== -->

<section class="text-center section-padding" id="blog">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h1 class="arrow">Moje <span>najpopularniejsze</span> artykuły</h1>
			</div>
		</div><br><br>


		<div class="row">
			<div id="blogSlider">
				<ul class="slides">
					<li>

						<div class="col-md-4 wp4">
							<div class="overlay-effect effects clearfix">
								<div class="img">
									<img src="./assets/img/articles/article1.jpg" srcset="./assets/img/articles/article1@2x.jpg 2x" class="grayscale" alt="Article Item">
								</div>
							</div>
							<br>
							<h2>Feminizm a prawda o przemocy domowej wobec mężczyzn</h2>
							<p>
								<a target="_blank" href="http://mediumpubliczne.pl/2017/04/feminizm-a-prawda-o-przemocy-domowej-wobec-mezczyzn/">
								To praktycznie temat tabu albo wzbudzający wielki śmiech, a przede wszystkim agresję środowisk feministycznych na całym świecie.
								</a>
							</p>
						</div>

						<div class="col-md-4 wp4 delay-05s">
							<div class="overlay-effect effects clearfix">
								<div class="img">
									<img src="./assets/img/articles/article2.jpg" srcset="./assets/img/articles/article2@2x.jpg 2x" class="grayscale" alt="Article Item">
								</div>
							</div>
							<br>
							<h2>Do wszystkich mam – w imieniu ich nienarodzonego jeszcze syna</h2>
							<p>
								<a target="_blank" href="http://mediumpubliczne.pl/2017/05/do-wszystkich-imieniu-nienarodzonego-jeszcze-syna/">
								Mamo! Ja nie chcę się urodzić w tym społeczeństwie, które oskarża chłopców i mężczyzn o przemoc.
								</a>
							</p>
						</div>

						<div class="col-md-4 wp4 delay-1s">
							<div class="overlay-effect effects clearfix">
								<div class="img">
									<img src="./assets/img/articles/article3.jpg" srcset="./assets/img/articles/article3@2x.jpg 2x" class="grayscale" alt="Article Item">
								</div>
							</div>
							<br>
							<h2>Kto stosuje przemoc, sam woła o miłość</h2>
							<p>
								<a target="_blank" href="http://mediumpubliczne.pl/2017/04/stosuje-przemoc-wola-o-milosc/">
								Chciałabym, żeby o przemocy matek i ojców było tak głośno w mediach, jak jest głośno o tej wobec kobiet i teraz – o rodzinie Piaseckich.
								</a>
							</p>
						</div>

					</li>
					<li>

						<div class="col-md-4 wp4">
							<div class="overlay-effect effects clearfix">
								<div class="img">
									<img src="./assets/img/articles/article4.jpg" srcset="./assets/img/articles/article4@2x.jpg 2x" class="grayscale" alt="Article Item">
								</div>
							</div>
							<br>
							<h2>DLACZEGO TYLKO MATKI SĄ WINNE?</h2>
							<p>
								<a target="_blank" href="http://masculinum.org/2014/03/26/dlaczego-tylko-matki-sa-winne/">
								Jakiś czas temu na portalu Gazety Wyborczej ukazał się list oskarżający Matki Polki o skrajną nadopiekuńczość.
								</a>
							</p>
						</div>

						<div class="col-md-4 wp4 delay-05s">
							<div class="overlay-effect effects clearfix">
								<div class="img">
									<img src="./assets/img/articles/article5.jpg" srcset="./assets/img/articles/article5@2x.jpg 2x" class="grayscale" alt="Article Item">
								</div>
							</div>
							<br>
							<h2>PRZESTAŃ AKCEPTOWAĆ PRZEMOC WOBEC DZIECI!</h2>
							<p>
								<a target="_blank" href="http://masculinum.org/2014/04/08/przestan-akceptowac-przemoc-wobec-dzieci/">
								Biła, ale nie zostawiała śladów” – jak mistrzyni świata w akrobatyce zamieniła trening młodych zawodniczek w koszmar zaś potem jego straszna treść wywołały we mnie wściekłość.
								</a>
							</p>
						</div>

						<div class="col-md-4 wp4 delay-1s">
							<div class="overlay-effect effects clearfix">
								<div class="img">
									<img src="./assets/img/articles/article6.jpg" srcset="./assets/img/articles/article6@2x.jpg 2x" class="grayscale" alt="Article Item">
								</div>
							</div>
							<br>
							<h2>LIST OTWARTY do Zastępczyni Praw Obywatelskich ds Równego Traktowania</h2>
							<p>
								<a target="_blank" href="http://sabinagatti.blogspot.com/2017/12/list-otwarty-do-zastepczyni-praw.html">
								Uważm, że  tytuły dr, prof, mgr zobowiązują do posiadania wiedzy, w tematach w których osoba z tytułami wypowiada się.
								</a>
							</p>
						</div>

					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!--	==========================
	Newsletter SECTION
=========================== -->

<div class="container-fluid">
	<div class="row color-bg">

		<div class="col-md-6 nopadding features-intro-img wow fadeInLeft">
			<div class="about-image" style="background-image:url(./assets/img/newsletter/newsletter1.jpg); background-image: -webkit-image-set(url(./assets/img/newsletter/newsletter1.jpg) 1x, url(./assets/img/newsletter/newsletter1@2x.jpg) 2x);"></div>
		</div>

		<div class="col-md-6 nopadding about-text">
			<h6>Mój Newsletter</h6>
			<div id="clientSlider">
				<ul class="slides">
					<li>
						<p>Co jakiś czas będę wysyłać tobie, jeżeli nie masz czasu śledzić na bieżąco moich fanpage na FB, podsumowanie linków, które pojawiły się na nich lub tych wcześniej zamieszczonych.</p>

						<p>Tylko obalenie stereotypów i cała prawda o kobietach i mężczyznach może podnieść świadomość w społeczeństwie. Tylko wiedza i wzrost świadomość w temacie przemocy może sprawić, że błędne koło przemocy, będzie można przerwać.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<section>
	<div class="container-fluid">
		<div class="row color-bg">
			<div class="col-md-6 nopadding subscribe text-center">
				<h1><i class="fa fa-paper-plane"></i><span>Zapisz się do Newslettera</span></h1>
				<form id="news_letter" method="post" enctype="application/x-www-form-urlencoded">
					<input id="email" type="text" name="email" placeholder="Twój email" autocomplete="email" required>
					<input id="submit" type="submit" value="Send">
				</form>
			</div>
			<div class="col-md-6 nopadding features-intro-img">
				<div class="about-image" style="background-image:url(./assets/img/newsletter/newsletter2.jpg); background-image: -webkit-image-set(url(./assets/img/newsletter/newsletter2.jpg) 1x, url(./assets/img/newsletter/newsletter2@2x.jpg) 2x);"></div>
			</div>
		</div>
	</div>
</section>

<!--	==========================
	CONTACT SECTION
=========================== -->

<section class="text-center section-padding contact-wrap" id="contact">

	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h1 class="arrow">Napisz <span>do</span> mnie</h1>
			</div>
		</div>

		<div class="row contact-details">

			<div class="col-md-12">
				<div class="dark-box box-hover">
					<h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
					<p><a id="contact_email" href=""></a></p>
				</div>
			</div>

		</div>

	</div>

</section>